html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
    color: #ff0000;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* cor neutra */
}

main {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
}

footer {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

/* Hover sutil nos links do menu */
.nav-link:hover {
    background-color: #e7f1ff; /* azul claro do login */
    border-radius: 5px;
    color: #0d6efd !important; /* detalhe azul */
}

/* Botões do usuário */
.btn-outline-primary {
    font-size: 0.875rem;
}

.btn-outline-danger {
    font-size: 0.875rem;
}

body, html {
    height: 100%;
    margin: 0;
}

.flex-grow-1 {
    min-height: 100vh; /* Garante que acompanhe o viewport */
    background-color: #f8f9fa; /* mesma cor do fundo da tela de login */
}

/* Botões e tabelas ficam responsivos */
.table {
    width: 100%;
}

.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}